@import "_base.scss";
$base-color1: gray;
$base-color2: #bebebe;
$base-color3: #ebebeb;
$main-color1: #24bddc;
$main-color2: #76d9e8;
$main-color3: #c7f5f5;
$white-color: #fff;
// フォント: jは日本語、eは英語
$font-j1: "Noto Serif JP",
serif;
$font-e1: "Ubuntu",
sans-serif;
$font-e2: "Mansalva",
cursive;
// @media screen and(min-width: 375px) {
body {
    width: 100%;
    height: 100%;
    font: $font-e1;
}

.post__date__1 {
    width: 5%;
}

.all__div {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
}

.title {
    @include title-1;
    margin: 8% auto;
}

.post__table {
    width: 100%;
    // height: 25%;
    // margin-top: 5%;
    font-size: large;
    border: solid 1px rgba($color: #585858, $alpha: 0.6);
}

.point {
    margin: 2% 1% 0 2%;
    display: flex;
}

h2 {
    padding: 3% 1% 0 4%;
    font-size: medium;
    color: red;
    font-weight: 700;
}

h3 {
    padding: 3% 2% 0 2%;
    font-size: medium;
    color: black;
    font-weight: 500;
}

td {
    margin: 1% 0 1% 0;
}

// .post__date__1 {
//     width: 24%;
// }
// .date__table {
//     width: 100%;
//     // padding: 4% 0 1% 2%;
//     line-height: 1.3;
// }
.star {
    text-align: left;
    font-size: xx-large;
}

.name__table {
    padding: 2% 0 1% 1%;
    margin: 1% 0 1% 0;
    line-height: 1.3;
}

.post__title__1 {
    font: $font-e1;
    width: 25%;
    margin-top: 2%;
}

.post__title__2 {
    font: $font-e1;
    width: 60%;
    margin-top: 2%;
}

.sns_box {
    width: 100%;
    display: flex;
    margin: 1% 0 1% 0;
}

.twitter-share-button {
    // width: 10vw;
    padding-right: 1%;
    padding-top: 1vh;
    // height: 10vh;
}

.fb-like {
    padding-top: 1vh;
}

.send__btn {
    font-size: 1.1rem;
    font-family: $font-e1;
    color: $base-color1;
    width: 30%;
    padding-bottom: 0.3vh;
}

.cancel-on-png,
.cancel-off-png,
.star-on-png,
.star-off-png,
.star-half-png {
    font-size: 2em;
}

@font-face {
    font-family: "raty";
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/raty.eot");
    src: url("./fonts/raty.eot?#iefix") format("embedded-opentype");
    src: url("./fonts/raty.svg#raty") format("svg");
    src: url("./fonts/raty.ttf") format("truetype");
    src: url("./fonts/raty.woff") format("woff");
}

.cancel-on-png,
.cancel-off-png,
.star-on-png,
.star-off-png,
.star-half-png {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "raty";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
}

.cancel-on-png:before {
    content: "\e600";
}

.cancel-off-png:before {
    content: "\e601";
}

.star-on-png:before {
    content: "\f005";
}

.star-off-png:before {
    content: "\f006";
}

.star-half-png:before {
    content: "\f123";
}

.br-theme-fontawesome-stars .br-widget a {
    font-size: 5rem;
}