@import "_base.scss";
$base-color1: gray;
$base-color2: #bebebe;
$base-color3: #ebebeb;
$main-color1: #24bddc;
$main-color2: #76d9e8;
$main-color3: #c7f5f5;
$white-color: #fff;
// フォント: jは日本語、eは英語
$font-j1: "Noto Serif JP",
serif;
$font-e1: "Ubuntu",
sans-serif;
$font-e2: "Mansalva",
cursive;
// @media screen and(min-width: 375px) {
body {
    width: 100%;
    height: 100%;
    font: $font-j1;
}

.title {
    @include title-1;
    margin: 10% auto;
}

.post__table {
    width: 100%;
    height: 15%;
    margin: 10% auto;
    font-size: large;
    border: solid 1px rgba($color: #585858, $alpha: 0.6);
}

.post__title {
    font: $font-j1;
    width: 60%;
    margin-top: 2%;
}

.question {
    text-align: center;
    font-size: 1.2rem;
    color: $base-color1;
    width: 90%;
    margin: 0 auto;
    margin-top: 10%;
}