@import "_base.scss";

// @media screen and(min-width: 375px) {

.title {
  &--login,
  &--logout {
    @include title-1;
    font-size: 2rem;
  }
}

// ログイン画面の写真
.container {
  height: 736px;
  display: flex;
  align-items: center;
  @include background-image("date6.jpg");
}

// ログアウト画面の写真
.container2 {
  @extend .container;
  @include background-image("date5.jpg");
}

.form-container {
  @include box-1;
  background: rgba(255, 255, 255, 0.8);
}

.form {
  font-family: $font-e1;
  padding-top: 40px;
  &__input {
    @include input-1;
  }
  &__btn {
    @include btn-1;
    &--relogin {
      width: 50%;
      & a {
        color: #fff;
        text-decoration: none;
        font-family: $font-e1;
      }
    }
  }
  &__remember {
    text-align: center;
    color: $main-color1;
    padding-top: 15px;
  }
}

.policy {
  @include policy;
}
// }
