@charset "UTF-8";
/*Base*/
/*-------------- フォント、カラー ----------------*/
/*-------------- 表題 ----------------*/
/*-------------- レイアウト ----------------*/
/*-------------- フォーム ----------------*/
/*-------------- ボタン ----------------*/
/*-------------- その他 ----------------*/
.title {
  color: #24bddc;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 15%;
}

/*Base*/
body {
  font-family: "Noto Serif JP", serif;
}

.display {
  width: 100%;
  height: 800px;
  overflow-y: scroll;
}

.search__box {
  display: flex;
  width: 100%;
  margin-bottom: 5%;
}

.input-container__search {
  width: 40%;
  font-size: large;
  margin-left: 20%;
  border: solid 1px rgba(117, 117, 117, 0.4);
}

.material-icons {
  font: "Noto Serif JP", serif;
  font-size: 30px;
  margin: 1% 1% 1% 2%;
  color: rgba(0, 0, 0, 0.4);
}
.material-icons.search {
  font-size: 30px;
}

.comment__p {
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin: 10% 0 5% 0;
}

h3 {
  font: "Ubuntu", sans-serif;
  font-size: 22px;
  padding-bottom: 3%;
}

h4,
h5 {
  width: 100%;
  font-size: 18px;
  font: "Ubuntu", sans-serif;
  padding-bottom: 2%;
}

.form-container {
  width: 100%;
  height: 300vh;
}

.form-container img {
  width: 100%;
  height: 8%;
  text-align: center;
  margin: 0 auto;
  background-color: #bebebe;
  object-fit: cover;
}

.past {
  margin-top: 5%;
}

.form__btn {
  width: 50%;
  height: 30%;
  color: #fff;
  border-radius: 3px;
  display: inline-block;
  margin: 0 25% 0 25%;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.form__btn:hover {
  background-color: white;
  border: 1px solid #326295;
  color: #326295;
}

.footer {
  display: flex;
  width: 100%;
  height: 8%;
  background-color: #c5c5c5;
  position: absolute;
  bottom: 0;
  box-shadow: 4px 0 0 0 #6b6b6b;
}

.form__btn {
  display: block;
  width: 60%;
  height: 6vh;
  color: gray;
  background: #fff;
  text-align: center;
  line-height: 3rem;
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 1.4rem;
  transition: 0.5;
  margin: 3vh auto;
}
.form__btn:hover {
  background: #76d9e8;
  border: 1px solid #76d9e8;
  color: #fff;
}
