@import "_base.scss";
// @media screen and(min-width: 375px) {
.title {
    @include title-1;
    margin-top: 20%;
}

// カラー
$color1: #bebebe;
// フォント
$font1: "Noto Serif JP",
serif;
$font2: "Ubuntu",
sans-serif;
$font3: "Mansalva",
cursive;
@mixin color2 {
    color: #2487ff;
}

.form-container-photo {
    width: 100%;
    height: 8%;
    text-align: center;
    margin: 0 auto;
    background-color: #bebebe;
}

.plan__edit {
    width: 80%;
    height: 3%;
    display: flex;
    margin: 10% 0 5% 9%;
    border-bottom: solid 1px;
}

.plan__title__h2 {
    font-family: $font-e1;
    width: 22%;
    padding: 3%;
    // border-bottom: solid 1px black;
}

.plan__title {
    width: 68%;
    // height: 10%;
    font-size: 20px;
    margin-left: 3%;
}

// 背景設定（画像など）
// *最初に$PATH_IMGに画像のファイルまでのパスを設定
// *引数($fileName)に画像のファイル名を与える
.form-container-photo {
    width: 100%;
    height: 150px;
    background-color: brown;
    background-image: url("https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2119.017552565542!2d139.70116603669882!3d35.659153900366896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b57efbd57c7%3A0x217e9d9fe306fba!2z5b-g54qs44OP44OB5YWs5YOP!5e0!3m2!1sja!2sjp!4v1576647952501!5m2!1sja!2sjp");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.plan1 {
    margin: 8% 0 10% 10%;
    font-size: 18px;
    &__time {
        font: $font-e1;
        font-size: 34px;
    }
}

.plan2 {
    margin: 8% 0 10% 10%;
    font-size: 18px;
    &__time {
        font: $font-e1;
        font-size: 34px;
        width: 22%;
        height: 10%;
    }
}

.plan3 {
    margin: 8% 0 10% 10%;
    font-size: 18px;
    &__time {
        font: $font-e1;
        font-size: 34px;
    }
}

.plan1__1,
.plan2__1,
.plan3__1 {
    display: flex;
}

h3 {
    font-size: 16px;
    height: 20%;
}

.plan__btn__send {
    @include btn-1;
    margin: 10% 0 0 30%;
}

.material-icons.arrow {
    height: 30%;
}