@charset "UTF-8";
/*-------------- フォント、カラー ----------------*/
/*-------------- 表題 ----------------*/
/*-------------- レイアウト ----------------*/
/*-------------- フォーム ----------------*/
/*-------------- ボタン ----------------*/
/*-------------- その他 ----------------*/
/*Base*/
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*Base*/
body {
  font-family: "Noto Serif JP", serif;
}

.title {
  color: #24bddc;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin: 2% 0 9% 0;
  text-align: center;
  font-size: 22px;
}

.coment {
  width: 100%;
  font-size: 15px;
  text-align: center;
  margin: 6% 0 3% 0;
}

.top_box {
  width: 100%;
  height: 15vh;
  text-align: center;
  margin: 0 auto;
  background-color: #bebebe;
  background-image: url("../img/IMG_2518.JPG");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.top_box p {
  position: absolute;
  font-weight: 700;
  text-shadow: -1px -1px 1px white, 1px 1px 1px white;
  bottom: 0;
}

h2 {
  color: red;
  font-size: 34px;
  text-align: center;
  margin-top: 5%;
  animation: blink 1.3s ease-in-out infinite alternate;
}

h4 {
  color: red;
}

input {
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin: 2% 0 2% 0;
}

.form__btn {
  width: 50%;
  height: 30%;
  color: #fff;
  border-radius: 3px;
  display: inline-block;
  margin: 0 25% 0 25%;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.form__btn:hover {
  background-color: white;
  border: 1px solid #326295;
  color: #326295;
}

.material-icons {
  font-size: 50px;
  margin: 1% 6% 1% 1%;
  color: rgba(0, 0, 0, 0.4);
}
.material-icons.back {
  margin-top: 6% 4% 1% 3%;
}

.footer {
  display: flex;
  width: 100%;
  height: 8%;
  background-color: #c5c5c5;
  position: absolute;
  bottom: 0;
  box-shadow: 4px 0 0 0 #6b6b6b;
}

.form__btn {
  display: block;
  width: 60%;
  height: 10%;
  color: gray;
  background: #fff;
  text-align: center;
  line-height: 3rem;
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 1.4rem;
  transition: 0.5;
  margin: 4% auto;
}
.form__btn:hover {
  background: #76d9e8;
  border: 1px solid #76d9e8;
  color: #fff;
}
