@import "_base.scss";
// @media screen and(min-width: 375px) {
body {
  width: 100%;
  height: 100%;
}

.title {
  @include title-1;
  margin-top: 20%;
}

.form-container {
  background-color: #fff;
  width: 90%;
  height: 90%;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  padding-top: 30%;
  padding-bottom: 30%;
  margin: 10% auto;
}

.form {
  font-family: $font-e1;
  padding-top: 50px;
  &__title {
    font-family: $font-e1;
    padding-left: 7%;
    padding-bottom: 2%;
  }
  &__input {
    @include input-1;
    margin-bottom: 10%;
    &:hover {
      background: $base-color2;
      border: 1px solid $base-color2;
      color: #fff;
    }
    &__btn {
      @include btn-1;
      margin-top: 7%;
    }
  }
}

// resist2(カラムq6-q10）

.form2 {
  padding-top: 5%;
}

.ask {
  @include policy;
  font-size: 1.1rem;
  padding: 10px;
  margin-top: 3%;
}

.question {
  @extend .ask;
  background-color: #fff;
}

.label {
  //   display: block;
  //   float: left;
  width: 40%;
  height: 40px;
  color: $main-color1;
  text-align: center;
  line-height: 2rem;
  cursor: pointer;
  border: 1px solid $main-color3;
  border-radius: 2rem;
  transition: 0.3s;
  margin: 5px;
  margin-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
  &:hover {
    background-color: #bebebe;
  }
}

input[type="radio"] {
  display: none;
  &:checked + label {
    background: $main-color3;
    color: $base-color1;
  }
}

.q-container {
  display: flex;
  width: 85%;
  justify-content: space-around;
  margin: 0 auto;
}

// ブートストラップ後(register)

body {
  font-family: $font-e1;
}

// 外枠
.panel-defaultb {
  @include box-1;
  background: rgba(255, 255, 255, 0.8);
  padding-top: 10%;
  padding-bottom: 10%;
}

// タイトル
.panel-headingb {
  padding-top: 5%;
  @include title-1;
}

// submitボタン
.btnsubmit {
  @include btn-1;
  text-align: center;
  padding: 2%;
}

.last {
  margin-bottom: 12%;
}
