/*
Error: Invalid CSS after "  }": expected selector or at-rule, was "}"
        on line 38 of /Applications/MAMP/htdocs/team_berg/laravel/git_lab_project/public/css/select.scss

33:     padding-bottom: 20%;
34:     &__input {
35:         @include btn-2;
36:     }
37:   }
38: }
39: 
40: ul {
41:     list-style: none;
42:     display: flex;
43:     justify-content: space-around;

Backtrace:
/Applications/MAMP/htdocs/team_berg/laravel/git_lab_project/public/css/select.scss:38
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1278:in `expected'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1208:in `expected'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:42:in `parse'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:414:in `_to_tree'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:290:in `render'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:400:in `run'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
/Applications/Koala.app/Contents/Resources/app.nw/bin/sass:22:in `load'
/Applications/Koala.app/Contents/Resources/app.nw/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  }\": expected selector or at-rule, was \"}\"\A         on line 38 of /Applications/MAMP/htdocs/team_berg/laravel/git_lab_project/public/css/select.scss\A \A 33:     padding-bottom: 20%;\A 34:     &__input {\A 35:         @include btn-2;\A 36:     }\A 37:   }\A 38: }\A 39: \A 40: ul {\A 41:     list-style: none;\A 42:     display: flex;\A 43:     justify-content: space-around;"; }
