/*Base*/
body {
  width: 100%;
  height: 100%;
}

/*Base*/
.title {
  width: 80%;
  margin: 20% 8% 20% 15%;
}

.slide img {
  width: 100%;
  height: auto;
}

.login {
  width: 50%;
  height: 25%;
  color: #2487ff;
}
